.container {
  width: 40%; 
  margin: 0 auto; 
  border: 1px solid #000; 
  border-radius: 20px;
  margin-top: 10px;
}

.box {
  padding: 20px; 
  padding-top: 0px
}

.content {
  display: block;
  margin-bottom: 1em;
}

.head {
  display: inline-block; 
  width: 150px; 
  font-weight: bold; 
  font-size: 16px;
}

.body {
  display: inline-block;
}

tr {
 background-color: #ff724f;
}

table{
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.nav-default {
  background-color: #333;
  border: 1px solid #333;
  color: white;
}

.nav-default li a {
  color: white;
}

.nav-light {
  background-color: #d2d2d2;
  border: 1px solid #333;
  color: #333;
}

.nav-light li a {
  color: #333;
}

.change-color-button {
float: right !important;
padding: 5px;
margin-right: 10px;
}

.nav li a:hover {
  background-color: #111;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
position: relative;
background-color: #fefefe;
margin: auto;
padding: 0;
border: 1px solid #888;
width: 80%;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
-webkit-animation-name: animatetop;
-webkit-animation-duration: 0.4s;
animation-name: animatetop;
animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

@keyframes animatetop {
from {top:-300px; opacity:0}
to {top:0; opacity:1}
}

/* The Close Button */
.close {
color: white;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}

.modal-header {
padding: 2px 16px;
background-color: orange;
color: black;
}

.modal-body {
padding: 16px 16px;
}

.modal-footer {
padding: 16px 16px;
}

.display-block {
display: block;
}

.display-none {
display: none;
}