h1{
    text-align: center;
  }
  
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: orangered;
  }

  th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: grey;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
  }
  
  form{
    text-align: center;
  }
  
  label{
    font-weight: bold;
    margin-right: 10px;
  }